<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIPE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIPE.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (ViewData["Title"] != null && ViewData["Title"].ToString() == "Portada")
        {
            <!-- Header personalizado para la portada -->
            <nav class="navbar bg-light border-bottom p-3">
                <div class="container d-flex align-items-center">
                    <img src="https://alumnos.uabc.mx/documents/20124/0/sipe-placeholder.png/1f973d75-ccdc-fdf1-8f45-57590a6b3fc5?t=1695397352567"
                         alt="SIPE Logo" class="me-3" style="max-height: 40px;">
                    <h1 class="h5 text-dark mb-0">Cédula de Potencial a Egresar</h1>
                </div>
            </nav>
        }
        else
        {
            <!-- Header para el Index -->
            <nav class="navbar bg-light border-bottom p-3">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <!-- Logo y título -->
                    <div class="d-flex align-items-center">
                        <img src="https://alumnos.uabc.mx/documents/20124/0/sipe-placeholder.png/1f973d75-ccdc-fdf1-8f45-57590a6b3fc5?t=1695397352567"
                             alt="SIPE Logo" class="me-3" style="max-height: 40px;">
                        <span class="h5 text-dark mb-0">Cédula de Potencial a Egresar</span>
                        <span class="ms-3">Contacto</span>
                    </div>
                    <!-- Campus -->
                    <div>
                        <span class="text-secondary">Campus: Mexicali</span>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">s
            &copy; 2024 - SIPE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
